{{template "base.html" .}}
{{define "content"}}
<section class="repo-list">
  <h1>Repositories</h1>
  {{if .Repos}}
  <ul class="repo-list-items">
    {{range .Repos}}
    <li>
      <a href="/{{.}}">{{.}}</a>
    </li>
    {{end}}
  </ul>
  {{else}}
  <p class="empty">No repositories configured.</p>
  {{end}}
  {{if .Locals}}
  <h2>Local</h2>
  <ul class="repo-list-items">
    {{range .Locals}}
    <li>
      <a href="/local/{{.}}">{{.}}</a>
    </li>
    {{end}}
  </ul>
  {{end}}
</section>
{{end}}
